body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolContainer{
  background-color: #0a2243;
}

.toolBar {
  display: flex;
  width: 100%;
}

.toolText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
